{% if item %}
<tr>
    <td class="product-thumbnail">
        <div class="pro-thumbnail-img">
            <img src="{{item.image}}" alt="">
        </div>
        <div class="pro-thumbnail-info text-start">
            <h6 class="product-title-2">
                <a href="#">{{item.name}}</a>
            </h6>
            <p>Brand: {{item.category}}</p>
            <p> Color: Black, White</p>
        </div>
    </td>
    <td class="product-price">${{ item.price }}</td>
    <td class="product-quantity">
        <div class="quantity-control">
            <button type="button"
                    hx-post="#"
                    hx-trigger="click"
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>-</button>
            <input type="text" value="{{ item.qty }}" readonly class="quantity-box">
            <button type="button"
                    hx-post="#"
                    hx-trigger="click"
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>+</button>
        </div>
    </td>
    <td class="product-subtotal">${{ item.total_price }}</td>
    <td class="product-remove">
        <a href="#" 
           hx-delete="#"
           hx-target="closest tr"
           hx-swap="outerHTML"
           hx-confirm="Are you sure you want to remove this item?"
           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            <i class="zmdi zmdi-close"></i>
        </a>
    </td>
</tr>

{% endif %}
